#about .heading{
	border-left: 8px solid #F2910A;
}

#about h2, #resume h2, #skills h2{
	font-weight: bold;
}

#about .heading>*{
 padding-left: 20px;
}
#about, #skills{
	padding: 70px 0;
}
#about img{
	padding: 0;
	border: 12px solid #F2910A;
}
#resume{
    background-color: #eeeeee;
}
#resume .heading, #skills .heading{
	border-left: 8px solid #E94822;
}

#resume .education_container{
	clear:both;
}

#resume .timeline-content .timeline-title {
    color: #ee4b28;
}

#resume .timeline > li {
    padding-bottom: 80px;
}
/*Time Line*/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 1px;
        background-color: #ee4b28;
        left: 30%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 26%;
            background-color: #FAD662;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #FAD662;
                border-right: 0 solid #FAD662;
                border-bottom: 14px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel .timeline-heading > p {
                margin-bottom: 0;
            }
            .timeline > li > .timeline-panel .timeline-heading > p span {
                font-size: 20px;
            }

        .timeline > li > .timeline-content {
            width: 60%;
            margin-right: 5%;
            background-color: #fff;
            float: right;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 30px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

        .timeline > li > .timeline-badge {
            color: #ee4b28;
            width: 50px;
            height: 50px;
            border: 3px solid #ee4b28;
            line-height: 44px;
            font-size: 2.5em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 30%;
            margin-left: -25px;
            /*background-color: #ffffff;*/
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.default {
    background-color: white !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-size: 25px;
    font-weight: bold;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

#skills .circle-panel {
    width: 19%;
    display: inline-block;
}
}

#skills .circles {
    
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}